html,
body {
    height: 100%;
    padding: 0;
    margin: auto;
    ;
}

#logo {
    width: 4%;
    height: 70%;
    float: right;
    margin-top: 1%;
    margin-right: 2%;

}

.exercice {
    width: 100%;
    height: 100%;
    margin: auto;
}

.closn {
    width: 18%;
    height: 84%;
    margin-right: 38%;
    display: flex;
    margin-top: 1.5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#Al,
#Fr,
#En,
#Tr {
    background-image: url(image/r.png);
    background-size: 100% 100%;
    width: 20%;
    height: 68%;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Scheherazade', serif;
    font-size: 5vh;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px rgb(124 124 124);
    cursor: pointer;
    transition-duration: 2ms;
}

#Al:active {
    transform: translateY(5px);
}

#En:active {
    transform: translateY(5px);
}

#Fr:active {
    transform: translateY(5px);
}

#Tr:active {
    transform: translateY(5px);
}


#headline {
    width: 95%;
    height: 10%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#headline>p {
    width: 37%;
    height: 70%;
    font-family: 'Scheherazade', serif;
    font-size: 4.5vh;
    letter-spacing: 1px;
    color: #04027d;
    line-height: 2.2em;
    text-align: center;
    margin-top: 1%;
    margin-right: -6%;
}

#b {
    margin-right: -8%;
    margin-top: 0.5%;
}

#c {
    margin-right: -8%;
    margin-top: 0.5%;
}

header {
    background-image: url(image/bghaut.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 93%;
    height: 9%;
    margin-right: 2%;
    margin-top: 1%;
    display: flex;
}

.question {
    width: 97%;
    height: 70%;
    font-family: 'Scheherazade', serif;
    font-size: 5vh;
    letter-spacing: 1px;
    color: #f9f9fd;
    line-height: 1.5em;
    display: flex;
    justify-content: space-between;

}

#b {
    display: flex;
}

#a {
    margin-right: 2%;
    margin-top: 0.5%;
}

#ltr {
    font-weight: bold;
    color: #002efc;
    font-size: 6vh;
}

#lttr {

    color: #002efc;
    font-size: 6vh;
}

main {
    width: 90%;
    height: 75%;
    margin: auto;

}

.base {
    width: 100%;
    height: 100%;
}

.quest {
    width: 100%;
    height: 10%;
    font-family: 'Scheherazade', serif;
    font-size: 5vh;
    letter-spacing: 1px;
    color: #070707;
    line-height: 3em;
    margin-right: 5%;
}

.traduction {
    margin-top: 1%;
    font-family: 'Scheherazade', serif;
    font-size: 4vh;
    color: #e3007b;
    line-height: 1.8em;
    direction: ltr;
    margin-left: 5%;
}

@keyframes mymove {
    50% {
        box-shadow: 2px 3px 3px 3px rgb(109, 109, 245);
        border-radius: 20px;
    }
}

#français {
    display: none;
}

#English {
    display: none;
}

#turkish {
    display: none;
}

#germany {
    display: none;
}

.part {
    width: 90%;
    height: 70%;
    margin: auto;
}

.ligne1 {
    width: 90%;
    height: 40%;
    margin: auto;

    display: flex;
}


.ligne2 {
    width: 90%;
    height: 40%;
    margin: auto;
    margin-top: 5%;
    display: flex;


}


.couleur1,
.couleur2,
.couleur3,
.couleur4,
.couleur5,
.couleur6,
.couleur7,
.couleur8,
.couleur9,
.couleur10 {
    background-image: url(image/bglettre.png);
    background-size: 100% 100%;
    width: 10%;
    height: 70%;
    text-align: center;
    color: black;
    font-family: 'Scheherazade', serif;
    font-size: 8vh;
    line-height: 1.9em;
    margin: auto;


}

.right {
    margin: auto;
   
    width: 10%;


}

.justifier {
    background-image: url(image/bgabas.png);
    background-size: 100% 100%;
    width: 96%;
 
    height: 9%;
    font-family: 'Scheherazade', serif;
    font-size: 5vh;
    letter-spacing: 1px;
    color: #f4f4fa;
    text-align: center;
    line-height: 1.7em;
    cursor: pointer;
    transition-duration: 2ms;
    margin: auto;
}

.justifier:active {
    transform: translateY(5px);
}


#carreau {
    width: 40%;
    height: 40%;
}

@keyframes msg {


    0% {
        transform: scale(0.1);
        -webkit-transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.5);
        -webkit-transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        -webkit-transform: scale(1);
    }
}



/* ---------- fin alert css ------ */


/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 780px) {
    #logo {
        width: 5%;
        height: 70%;
        float: right;
        margin-top: 2%;
        margin-right: 2%;
    }
    #headline>p {
        width: 37%;
        height: 70%;
        font-family: 'Scheherazade', serif;
        font-size: 4.5vh;
        letter-spacing: 1px;
        color: #04027d;
        line-height: 2.2em;
        text-align: center;
        margin-top: 1%;
        margin-right: 0%;
    }
    .closn {
        width: 22%;
        height: 84%;
        margin-right: 29%;
        display: flex;
        margin-top: 1.5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    #logo {
        width: 7%;
        height: 70%;
        float: right;
        margin-top: 2%;
        margin-right: 2%;
    }
    #headline>p {
        width: 40%;
        height: 70%;
        font-family: 'Scheherazade', serif;
        font-size: 3.5vh;
        letter-spacing: 1px;
        color: #04027d;
        line-height: 3.2em;
        text-align: center;
        margin-top: 1%;
        margin-right: 0%;
    }
    .closn {
        width: 27%;
        height: 84%;
        margin-right: 18%;
        display: flex;
        margin-top: 1.5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .couleur1, .couleur2, .couleur3, .couleur4, .couleur5, .couleur6, .couleur7, .couleur8, .couleur9, .couleur10 {
        background-image: url(image/bglettre.png);
        background-size: 100% 100%;
        width: 16%;
        height: 70%;
        text-align: center;
        color: black;
        font-family: 'Scheherazade', serif;
        font-size: 8vh;
        line-height: 1.9em;
        margin: auto;
    }
    
    
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    #logo {
        width: 9%;
        height: 70%;
        float: right;
        margin-top: 2%;
        margin-right: 2%;
    }
    #headline>p {
        width: 43%;
        height: 70%;
        font-family: 'Scheherazade', serif;
        font-size: 3.5vh;
        letter-spacing: 1px;
        color: #04027d;
        line-height: 1.2em;
        text-align: center;
        margin-top: 3%;
        margin-right: 0%;
    }
    .closn {
        width: 31%;
        height: 84%;
        margin-right: 8%;
        display: flex;
        margin-top: 1.5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .right {
        margin: auto;
        margin-top: 8%;
        width: 17%;
    }
    .justifier {
        background-image: url(image/bgabas.png);
        background-size: 100% 100%;
        width: 96%;
        margin-top: -80%;
        height: 9%;
        font-family: 'Scheherazade', serif;
        font-size: 5vh;
        letter-spacing: 1px;
        color: #f4f4fa;
        text-align: center;
        line-height: 1.7em;
        cursor: pointer;
        transition-duration: 2ms;
        /* margin-right: 40%; */
    }
}

@media (max-width: 350px) {
    #logo {
        width: 10%;
        height: 61%;
        float: right;
        margin-top: 5%;
        margin-right: 2%;
    }
    .closn {
        width: 39%;
        height: 84%;
        margin-right: 0%;
        display: flex;
        margin-top: 1.5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #Al, #Fr, #En, #Tr {
        background-image: url(image/r.png);
        background-size: 100% 100%;
        width: 20%;
        height: 68%;
        line-height: 1.4em;
        text-align: center;
        letter-spacing: 1px;
        font-family: 'Scheherazade', serif;
        font-size: 4vh;
        color: #fff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px rgb(124 124 124);
        cursor: pointer;
        transition-duration: 2ms;
    }
    .quest {
        width: 100%;
        height: 10%;
        font-family: 'Scheherazade', serif;
        font-size: 4vh;
        letter-spacing: 1px;
        color: #070707;
        line-height: 3em;
        margin-right: 5%;
    }
    .couleur1, .couleur2, .couleur3, .couleur4, .couleur5, .couleur6, .couleur7, .couleur8, .couleur9, .couleur10 {
        background-image: url(image/bglettre.png);
        background-size: 100% 100%;
        width: 16%;
        height: 45%;
        text-align: center;
        color: black;
        font-family: 'Scheherazade', serif;
        font-size: 8vh;
        line-height: 0.9em;
        margin: auto;
    }
}