html,
body {
    height: 100%;
    padding: 0;
    margin: auto;
    ;
}


#logo {
    width: 3.5%;
    height: 70%;
    float: right;
    margin-top: 1.5%;
    margin-right: 2%;
}

.exercice {
    width: 100%;
    height: 100%;
    margin: auto;
}

.closn {
    width: 18%;
    height: 84%;
    margin-right: 40%;
    display: flex;
    margin-top: 1.5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#Al,
#Fr,
#En,
#Tr {
    background-image: url(image/r.png);
    background-size: 100% 100%;
    width: 20%;
    height: 68%;
    line-height: 1.2em;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Scheherazade', serif;
    font-size: 5vh;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px rgb(124 124 124);
    cursor: pointer;
    transition-duration: 2ms;
}

#Al:active {
    transform: translateY(5px);
}

#En:active {
    transform: translateY(5px);
}

#Fr:active {
    transform: translateY(5px);
}

#Tr:active {
    transform: translateY(5px);
}

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }

    50% {
        top: 10px;
    }
}

#headline {
    width: 95%;
    height: 10%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#headline>p {
    width: 37%;
    height: 70%;
    font-family: 'Scheherazade', serif;
    font-size: 4.5vh;
    letter-spacing: 1px;
    color: #04027d;
    line-height: 2.2em;
    text-align: center;
    margin-top: 1%;
    margin-right: -6%;
}

#b {
    margin-right: -8%;
}

header {
    background-image: url(image/bg-haut.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 9%;
    margin: auto;
    margin-top: 1%;
    display: flex;
}

.question {
    width: 97%;
    height: 70%;
    font-family: 'Scheherazade', serif;
    font-size: 5vh;
    letter-spacing: 1px;
    color: #f9f9fd;
    line-height: 1.5em;
    display: flex;
    justify-content: space-between;
}

#b {
    display: flex;
}

#a {
    margin-right: 2%;
}

#a,
#b,
#c {
    margin-top: 0.5%;
}

#ltr {
    font-weight: bold;
    color: #002efc;
    font-size: 6vh;
}

main {
    width: 90%;
    height: 68%;
    margin: auto;
}

.quest {
    width: 100%;
    height: 10%;
    font-family: 'Scheherazade', serif;
    font-size: 5vh;
    letter-spacing: 1px;
    color: #070707;
    line-height: 3em;
    display: flex;
}

.traduction {
    margin-top: 1%;
    font-family: 'Scheherazade', serif;
    font-size: 4vh;
    color: #e3007b;
    line-height: 1.8em;
    direction: ltr;
    margin-left: 5%;

}

.traduction div {
    display: flex;
}

@keyframes mymove {
    50% {
        box-shadow: 2px 3px 3px 3px rgb(109, 109, 245);
        border-radius: 20px;
    }
}

#français {
    display: none;
}

#English {
    display: none;
}

#turkish {
    display: none;
}

#germany {
    display: none;
}

footer {
    width: 95%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    user-select: none;
}

.verifBouton {
    width: 10%;
    height: 80%;
    background: url('image/bg-bas.png');
    background-size: 100% 100%;
    font-family: 'Scheherazade', serif;

    font-size: 5vh;
    color: #f4f4fa;
    text-align: center;
    line-height: 1.7em;

    cursor: pointer;
}

.verifBouton:active {
    transform: translateY(5px);
}

.ex {
    width: 80%;
    height: 75%;
    margin: auto;
}

.pictures {
    width: 90%;
    height: 55%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.pic {
    width: 20%;
    height: 85%;
    border-radius: 100%;
    margin-top: 1.5%;
    cursor: pointer;
}

.mot {
    background: url('image/bgmot.png');
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    font-family: 'Scheherazade', serif;
    font-size: 8vh;
    color: black;
    text-align: center;
    line-height: 1.8em;
    margin-top: 1.5%;
    cursor: pointer;
    margin-left: -2%;
    text-align: center;
}

#im1 {
    background: url('image/Oignon.png');
    background-size: 100% 100%;

}

#im2 {
    background: url('image/viande.png');
    background-size: 100% 100%;
}

#im3 {
    background: url('image/orange.png');
    background-size: 100% 100%;
}


/*animation*/
@keyframes msg {


    0% {
        transform: scale(0.1);
        -webkit-transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.5);
        -webkit-transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        -webkit-transform: scale(1);
    }
}

/**/
.words {
    width: 20%;
    height: 25%;
    margin: auto;
    display: flex;
    margin-top: 5%;
margin: auto;
    justify-content: space-around;
    margin-right: 33%;
}

.sons {
    width: 95%;
    height: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.son {
    background: url('image/hautparleur.png');
    background-size: 100% 100%;
    width: 18%;
    height: 32%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    transition-duration: 2ms;
}
.son:active{
    transform: translateY(5px);
}

@media (min-width: 481px) and (max-width: 781px) {
    #logo {
        width: 5.5%;
        height: 70%;
        float: right;
        margin-top: 1.5%;
        margin-right: 2%;
    }
    .closn {
        width: 22%;
        height: 84%;
        margin-right: 28%;
        display: flex;
        margin-top: 1.5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #headline>p {
        width: 37%;
        height: 70%;
        font-family: 'Scheherazade', serif;
        font-size: 4.5vh;
        letter-spacing: 1px;
        color: #04027d;
        line-height: 2.2em;
        text-align: center;
        margin-top: 1%;
        margin-right: 0%;
    }
    
    .traduction {
        margin-top: 4%;
        font-family: 'Scheherazade', serif;
        font-size: 4vh;
        color: #e3007b;
        line-height: 1.8em;
        direction: ltr;
        margin-left: 5%;
    }
    
    .words {
        width: 33%;
        height: 25%;
        margin: auto;
        display: flex;
        margin-top: 5%;
        margin: auto;
        justify-content: space-around;
        margin-right: 22%;
    }
    
    .pictures {
        width: 100%;
        height: 55%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
    }    
}

@media (max-width: 600px) {
    #logo {
        width: 6.5%;
        height: 70%;
        float: right;
        margin-top: 1.5%;
        margin-right: 2%;
    }
    .closn {
        width: 30%;
        height: 84%;
        margin-right: 20%;
        display: flex;
        margin-top: 1.5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #headline>p {
        width: 40%;
        height: 70%;
        font-family: 'Scheherazade', serif;
        font-size: 3.5vh;
        letter-spacing: 1px;
        color: #04027d;
        line-height: 2.2em;
        text-align: center;
        margin-top: 1%;
        margin-right: 0%;
    }
    .words {
        width: 42%;
        height: 25%;
        margin: auto;
        display: flex;
        margin-top: 5%;
        margin: auto;
        justify-content: space-around;
        margin-right: 15%;
    }
}

@media (max-width:480px) {
    #logo {
        width: 9.5%;
        height: 69%;
        float: right;
        margin-top: 1.5%;
        margin-right: 2%;
    }
    .closn {
        width: 33%;
        height: 84%;
        margin-right: 7%;
        display: flex;
        margin-top: 1.5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #headline>p {
        width: 48%;
        height: 70%;
        font-family: 'Scheherazade', serif;
        font-size: 3.5vh;
        letter-spacing: 1px;
        color: #04027d;
        line-height: 2.2em;
        text-align: center;
        margin-top: 1%;
        margin-right: 0%;
    }
    .quest {
        width: 100%;
        height: 10%;
        font-family: 'Scheherazade', serif;
        font-size: 4vh;
        letter-spacing: 1px;
        color: #070707;
        line-height: 3em;
        display: flex;
    }
    
    .traduction {
        margin-top: 1%;
        font-family: 'Scheherazade', serif;
        font-size: 3vh;
        color: #e3007b;
        line-height: 5.8em;
        direction: ltr;
        margin-left: 5%;
    }
    .pictures {
        width: 111%;
        height: 55%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
    }
    .words {
        width: 50%;
        height: 25%;
        margin: auto;
        display: flex;
        margin-top: 5%;
        margin: auto;
        justify-content: space-around;
        margin-right: 7%;
    }
    .verifBouton {
        width: 17%;
        height: 80%;
        background: url(image/bg-bas.png);
        background-size: 100% 100%;
        font-family: 'Scheherazade', serif;
        font-size: 5vh;
        color: #f4f4fa;
        text-align: center;
        line-height: 1.7em;
        cursor: pointer;
    }
}

@media (max-width: 350px) {
    #logo {
        width: 11.5%;
        height: 69%;
        float: right;
        margin-top: 2.5%;
        margin-right: 2%;
    }
    .closn {
        width: 35%;
        height: 76%;
        margin-right: 0%;
        display: flex;
        margin-top: 3.5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #Al, #Fr, #En, #Tr {
        background-image: url(image/r.png);
        background-size: 100% 100%;
        width: 22%;
        height: 68%;
        line-height: 1.5em;
        text-align: center;
        letter-spacing: 1px;
        font-family: 'Scheherazade', serif;
        font-size: 4vh;
        color: #fff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px rgb(124 124 124);
        cursor: pointer;
        transition-duration: 2ms;
    }
    #headline>p {
        width: 48%;
        height: 70%;
        font-family: 'Scheherazade', serif;
        font-size: 2.5vh;
        letter-spacing: 1px;
        color: #04027d;
        line-height: 1.2em;
        text-align: center;
        margin-top: 6%;
        margin-right: 0%;
    }
    .quest {
        width: 100%;
        height: 10%;
        font-family: 'Scheherazade', serif;
        font-size: 3vh;
        letter-spacing: 1px;
        color: #070707;
        line-height: 5em;
        display: flex;
    }
    .traduction {
        margin-top: 12%;
        font-family: 'Scheherazade', serif;
        font-size: 3vh;
        color: #e3007b;
        line-height: 1em;
        direction: ltr;
        margin-left: 5%;
    }
    .pic {
        width: 32%;
        height: 85%;
        border-radius: 100%;
        margin-top: 1.5%;
        cursor: pointer;
    }
    .words {
        width: 66%;
        height: 25%;
        margin: auto;
        display: flex;
        margin-top: 5%;
        margin: auto;
        justify-content: space-around;
        margin-right: 2%;
    }
    .verifBouton {
        width: 24%;
        height: 80%;
        background: url(image/bg-bas.png);
        background-size: 100% 100%;
        font-family: 'Scheherazade', serif; 
        font-size: 5vh;
        color: #f4f4fa;
        text-align: center;
        line-height: 1.7em;
        cursor: pointer;
    }

}






